/Inventory Game/.vs/Inventory Game/v16/*.suo
/Inventory Game/.vs/Inventory Game/v16/*.db
/Inventory Game/Temp/
/Inventory Game/Logs/
/Inventory Game/Library/
/Inventory Game/obj/
/Inventory Game/*.vsconfig
/Inventory Game/*.csproj
